@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro:wght@300;400&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  color: inherit;
  border-radius: inherit;
  border-color: inherit;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

*::placeholder {
  /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: var(--text-grey);
  opacity: 1; /* Firefox */
}

*:-ms-input-placeholder {
  /* Internet Explorer 10-11 */
  color: var(--text-grey);
}

*::-ms-input-placeholder {
  /* Microsoft Edge */
  color: var(--text-grey);
}
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans',
    'Droid Sans', 'Helvetica Neue', sans-serif;
  font-family: 'Poppins', sans-serif;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

h1,
h2,
h3,
h4,
h5,
h6,
li,
td,
h3,
p,
label,
thead,
em,
b {
  white-space: pre-wrap;
}
h1 {
  font-size: 2rem;
}
h2 {
  font-size: 1.5rem;
}
h3 {
  font-size: 1.25rem;
}
h4 {
  font-size: 1rem;
}
h5 {
  font-size: 0.875rem;
}
h6 {
  font-size: 0.85rem;
}
p {
  margin-bottom: 2rem;
}
input[type='color'] {
  margin: 0;
  opacity: 0;
  padding: 0;
  cursor: pointer;
  border: none;
  outline: none;
  -webkit-appearance: none;
}
input[type='range']::-webkit-slider-thumb {
  -webkit-appearance: none; /* Override default look */
  appearance: none;
  width: 1rem; /* Set a specific slider handle width */
  height: 1rem; /* Slider handle height */
  background: currentColor; /* Green background */
  cursor: pointer; /* Cursor on hover */
  border-radius: 100%;
}

input[type='range']::-moz-range-thumb {
  width: 1rem; /* Set a specific slider handle width */
  height: 1rem; /* Slider handle height */
  background: currentColor; /* Green background */
  cursor: pointer; /* Cursor on hover */
  border-radius: 100%;
}
